*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	

}

@font-face{
	font-family: "Futura New Bold";
	src: url('../Futura New/FuturaNewBold.otf') format("opentype");

}
@font-face{
	font-family: "Futura New Bold Oblique";
	src: url('../Futura New/FuturaNewBoldOblique.otf') format("opentype");
	
}
@font-face{
	font-family: "Futura New Book";
	src: url('../Futura New/FuturaNewBook.otf') format("opentype");
	
}
@font-face{
	font-family: "Futura New Book Oblique";
	src: url('../Futura New/FuturaNewBookOblique.otf') format("opentype");
	
}
@font-face{
	font-family: "Futura New Demi";
	src: url('../Futura New/FuturaNewDemi.otf') format("opentype");
	
}
@font-face{
	font-family: "Futura New Demi Oblique";
	src: url('../Futura New/FuturaNewDemiOblique.otf') format("opentype");
	
}
@font-face{
	font-family: "Futura New Extra Bold";
	src: url('../Futura New/FuturaNewExtraBold.otf') format("opentype");
	
}
@font-face{
	font-family: "Futura New Extra Bold Oblique";
	src: url('../Futura New/FuturaNewExtraBoldOblique.otf') format("opentype");
	
}
@font-face{
	font-family: "Futura New Heavy";
	src: url('../Futura New/FuturaNewHeavy.otf') format("opentype");
	
}
@font-face{
	font-family: "Futura New Heavy Oblique";
	src: url('../Futura New/FuturaNewHeavyOblique.otf') format("opentype");
	
}
@font-face{
	font-family: "Futura New Light";
	src: url('../Futura New/FuturaNewLight.otf') format("opentype");
	
}
@font-face{
	font-family: "Futura New Light Oblique";
	src: url('../Futura New/FuturaNewLightOblique.otf') format("opentype");
	
}
@font-face{
	font-family: "Futura New Medium";
	src: url('../Futura New/FuturaNewMedium.otf') format("opentype");
	
}
@font-face{
	font-family: "Futura New Medium Oblique";
	src: url('../Futura New/FuturaNewMediumOblique.otf') format("opentype");
	
}
.navbar{
	 
	text-transform: uppercase;
	color: white;
	font-size: .5rem;
	display: inline-block;
	
}
#header{
	display: flex;
}
.navbar-brand img{
	height: auto;
	width: 20%;
	
}
.navbar #text{
	vertical-align: middle;
	white-space: nowrap;
}
#header img{
	height: auto;
  	max-width: 100%;
}
.header-text{
	position: absolute;
  	padding-top: 4rem;
  	padding-left: 3rem;
}
.header-text h6{
	font-size: .85rem;
	color: black;
	font-family: "Futura New Medium";
	margin: 0;
	padding: 0;

}
.header-text h5{
	font-size: 1.3rem;
	color: #0fcc5b;
	font-family: "Futura New Demi";
	margin: 0;
	padding: 0;
}
.header-text p{
	font-size: 0.5rem;
	color: black;
	font-family: "Futura New Light";
	margin: 0;
	padding: 0;
}
.header-text button{
	background-color: #0fcc5b;
	border-radius: 20rem;
	font-size: 4px;
	text-transform: uppercase;
	color: white;
	font-family: "Futura New Heavy";
	padding: .3rem;
	border-style: none;

}

#second-section{
	min-height: 20vh;
	margin-top: 3rem;
	padding-left: 3.5rem;
	padding-right: 2.5rem;
	/*display: flex;*/
	justify-content: space-between;

}
.left-text{
	width: 45%;
	float: left;

}
.right-video{
	width: 45%;
	float: right;
	
}


#second-section iframe{
	/*position: absolute;*/
	height: 7rem;
	width: 10rem;

	
}

.left h5{
	font-family: "Futura New Medium";
	font-size: .8rem;
	color: black;
	margin: 0;
	padding: 0;
}
.left h4{
	font-family: "Futura New Medium";
	font-size: 1rem;
	color: black;
	margin: 0;
	padding: 0;
	color:#0fcc5b;
}
.left p{
	font-family: "Futura New Medium";
	font-size: 0.2rem;
	color: black;
	overflow: hidden;
}

#third-section img{
	height: auto;
	max-width: 40vh;
	position: absolute;
	margin-left: 13%;
}